.cuadrado{
    display: block;
    margin: 20px;
    height: 150px;
    width: 150px;
    border: solid 1px silver;
    background: #ccc;
}

button.activo{
    background: #03A9F4;
    color: yellow;
    font-weight: bold;
}
.green{
    border-bottom: 7px solid greenyellow;
}
.red{
    border-bottom: 7px solid crimson;
}