<h1>BIENEVENIDO COMPONENTE RAIZ</h1>
<h1>ROUTING</h1>
<header>
  <section id="menu">
    <ul routerLinkActive="active">
      <a routerLink='ngif' >NGIF</a>
      <a routerLink='ngelse'>NGELSE</a>
      <a routerLink='ngswitch'>NGSWITCH</a>
      <a routerLink='ngmodel'>NGMODEL</a>
      <a routerLink='ngfor'>NGFOR</a>
      <a routerLink='ngstyle'>NGSTYLE</a>
      <a routerLink='ngclass'>NGCLASS</a>
    </ul>
  </section>

  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</header>

